*.pyc
*_flymake.*
*~
.#*
*.log
*.sqlite3
*.lock

.DS_Store
.docker/daemon.json
.docker/.buildNodeID
.gvimlocal
.postinstall
.ropeproject
.unison.*.unison.tmp-bad
.vim/bundle/*/doc/tags
.vim/bundle/*/doc/tags-??
.vimlocal
.dotgit
.Trash
.cache

.gnupg/
.gnupg_pre_2.1/

.pgadmin/
.pgAdmin4.startup.log
.pg_service.conf
.ssh/
.zsh_history
Applications*/
Box/
Desktop/
Documents/
Downloads/
Dropbox/
Google\ Drive\ File\ Stream
Library/
Movies/
Music/
Parallels/
Pictures/
Public/
dev/
go/
google-cloud-sdk/
tmp


our*.key




# jh - I don't know if I want to version any of these
.CFUserTextEncoding
.IdentityService/
.NERDTreeBookmarks
.ServiceHub/
.amplify/
.anaconda/
.aspnet/
.aws/
.bash_history
.bash_sessions/
.boto
.conda/
.condarc
.config-backup/
.cups/
.dbeaver-drivers/
.dbeaver4/
.dlv/
.dotfiles_save/
.dotnet/
.dropbox/
.eclipse/
.emulator_console_auth_token
.fiddler/
.flow-typed/
.ghc/
.gitcookies
.gitflow_export
.gitkraken/
.gitlab-runner/
.gradle/
.grip/
.gsutil/
.gvimrc
.hgignore_global
.ionic/
.iterm2_shell_integration.zsh
.itmstransporter/
.jupyter/
.kube/
.lesshst
.local/
.m2/
.matplotlib/
.minikube/
.mono/
.ncftp/
.netrc
.node-gyp/
.node_repl_history
.npm/
.nvm/
.oh-my-zsh/
.oracle_jre_usage/
.pachyderm/
.pindir
.psql_history
.pyenv/
.pylint.d/
.python_history
.sh_history
.stack/
.subversion/
.tmux/
.viminfo
.vnc/
.vscode/

.z
.z.*
.zcompdump*

.config/.mono/
.config/Microsoft\\VisualStudio\ Services/
.config/NuGet/
.config/configstore/
.config/flake8
.config/gcloud/
.config/git/
.config/htop/
.config/qBittorrent/
.config/stetic/
.config/wireshark/
.config/xbuild/
